<h2>All the Users</h2>

<div id="allUsersBox">
  <%	 @users.each do |user| %>
      <div class="regist" style="display:inline-block; padding:7px;width: 250px">
      <%= thumb(user) %>
      <%=	 link_to user.full_name, profile_for(user) %>
   	  <br/><%= pluralize(user.friends.count, "friend") %>
      </div>
<%	 end %>
</div>
