<div id="leftCol" class="profile_side">
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div id="contentCol">
<div id="contentArea">
<div id="content">

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   
  <!--  <div class="tabbable">
     <ul class="nav nav-tabs" id="proftabs">
      <li><a href="#profile_tab"  data-toggle="tab" >Profile</a></li>
      <li><a href="#friends_tab" data-toggle="tab">Friends</a></li>
      <li><a  href="#photos_tab" data-toggle="tab">Photos</a></li>
      <li><a  href="#videos_tab" data-toggle="tab">Videos</a></li>
      <li><a  href="#quotes_tab" data-toggle="tab">Quotes</a></li>

   </ul>
      <div class="tab-content">
            <div id="profile_tab" class="tab-pane">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid excepturi id, maxime nesciunt recusandae repellat unde veritatis! Eveniet, fugiat, ipsum. Architecto assumenda, culpa impedit molestias natus porro quisquam repudiandae sunt!
            </div>
        <div id="friends_tab"  class="tab-pane">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis cupiditate incidunt. Accusantium adipisci architecto dignissimos eligendi est explicabo ipsa molestiae nesciunt optio porro provident, sint soluta, tempore temporibus vitae?
        </div>
        <div id="photos_tab"  class="tab-pane">
          []        </div>
        <div id="videos_tab"  class="tab-pane">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem dolore, dolorum eaque earum eius, id in iste molestias officia, possimus qui quis recusandae repellat reprehenderit suscipit voluptatum!
        </div>
        <div id="quotes_tab"  class="tab-pane">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur, in necessitatibus qui quidem tenetur unde voluptatum! Aspernatur dolorem earum id labore molestiae nam quas quisquam, sapiente sequi ut voluptatibus.
        </div>
      </div>
      <script>
          $(document).ready(function() {

              $("#proftabs a:first").tab('show')

          });
      </script>
    </div>  -->
    </div>
</div>
<div id="rightCol">
Pellentesque congue dui turpis, et rhoncus urna auctor ut. Aliquam tincidunt ligula non vestibulum accumsan. Donec tincidunt ultrices nibh nec tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris tristique suscipit rhoncus.
</div>
</div>
