
<h1 style="font-family: 'Roboto Condensed',arial,helvetica,san-serif;text-align: center">World Wall</h1>
<hr/>

  <ul id="profile_posts">
    <%	 @posts.each do |post| %>


        <li
        <% if @posts.first == post %>
        class="first"
        <% end %>
        >
          <%= image_tag post.user.avatar_url(:thumb).to_s, :width => 80, :height => 80 if post.user %>
          <%=h link_to post.user.full_name, :controller => 'users', :action => 'wall', :username => post.user.username  if post.user %>
          <span style="float: right"><%= time_ago_in_words(post.created_at).gsub('about','') + ' ago' %></span>


          <div class="post_mess"><%= post.content %></div>
        </li>


    <%	 end %>

  </ul>