<li
<% if @all_posts.first == post %>
class="first"
<% end %>
>
  <%= image_tag post.user.profile(:thumb).to_s, :width => 80, :height => 80 %>
  <%=h link_to post.user.full_name, :controller => 'users', :action => 'wall', :username => post.user.username %>
  <span style="float: right"><%= time_ago_in_words(post.created_at) %> ago</span>


  <div class="post_mess"><%= post.content %></div>
</li>
