// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(roboto.woff) format('woff');
}
h2 {
  font-family: 'Roboto Condensed';
}
.post_mess {
margin-left: 87px;

word-wrap: break-word;
}
#remember_me {
  display: inline;
}
#logins label {
    display: inline;
  }
input[type='file'] {
  line-height: normal !important;

}

#pill-bar {
  font-weight: bold;
  width:auto
}
/* pill count*/
span.pill-count {;
  position: absolute;
  padding: 5px;
  margin-top: -6px;
  color: white;
  min-width: 15px;
  text-align: center;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a2a2a), to(#222));
  background: -moz-linear-gradient(top center, #2a2a2a, #222);
  -webkit-box-shadow: inset 0 0 1px #333;
  -moz-box-shadow: inset 0 0 1px #333;
  text-shadow: 0 -1px 1px black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-left: 10px;
}
/* Style of pill Content */
#pill-content {

    h6 {
      visibility: hidden;
    }


}
#pill-content h2 {
  font-family: Helvetica, tahoma, Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 1px black;
}
#pill-content p {
  font-family: Helvetica, tahoma, Sans-serif;
  font-size: 15px;
}

#pill-bar ul li{
  display: inline-block;
}

#pill-bar ul li a {
  position: relative;
  display: block;
  width: 100px;
  text-align: center;
}
#pill-bar ul li a:hover {
  cursor: pointer;
}
#pill-bar .active a {
  padding: 14px 0 10px 0;
  border: 1px solid #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(6, 6, 146)), to(rgb(0, 213, 231)));
  background: -moz-linear-gradient(top center, #003366, #0066cc);
  text-shadow: 0 1px 1px black;

  -webkit-background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 1px #fd0000;
  -moz-border-radius: 10px 10px 0 0;
  -moz-background-clip: padding-box;
  -moz-box-shadow: inset 0 0 1px #fd0000;
  margin-left: -5px;
  z-index: 2;
  color: white;
  text-shadow: 0 1px 1px black;
}

#pill-bar .active a:focus {
  outline: none;
}

#pill-bar .inactive a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#ddd));
  background: -moz-linear-gradient(top center, #ddd, #eee);
}

#pill-bar .inactive a {
  color: #222;
  text-shadow: 0 1px 1px white;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background: -moz-linear-gradient(top center, #eeeeee, #dddddd);
  -webkit-box-shadow: inset 0 0 5px white;
  -moz-box-shadow: inset 0 0 5px white;
  padding: 14px 0 10px 0;
  -webkit-box-shadow: inset 0 0 5px white;
  -moz-box-shadow: inset 0 0 5px white;
  border: 1px solid #ccc;
  margin-left: -5px;
  z-index: 1;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: none;
}
#pill-bar .inactive a:focus {
  outline: none;
}
body {
  background-color: #019AD2;
}
.photo{
    background-color: white;
  padding: 10px;
  border: 1px solid #3a3a3a;
  margin: 6px;
  width: auto;
  display: inline-block;

  &:hover{
    background-color:#e8e8e8;
  }
}

#comments-box {

  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 7px;

  .comment {
    height: 40px;
    border-bottom: 1px solid #ccc;
    &:hover {
      background-color:#e8e8e8;
    }
  }

  .comment-first {
    height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    &:hover {
      background-color:#e8e8e8;
    }

  }

  textarea {
  margin-right: 10px;
  width: 350px;
  height: 20px;
  border-radius: 0;
  resize: none;

}
}
.span4{

  margin-left: 30px;
}
//#wrap {
//  margin: 0 auto;
 // overflow: hidden;
 // img {
  //  display: none;
 // }
//.is-showing {
//  display: inline;
//}
//}

.profile_side {
  float: left;
  width: 280px;
  height: 700px;
  background: #fffdcd;
  padding-bottom: 10px;
  h3 {
    font-family: 'Roboto Condensed';
    text-align: center;
  }
}
#profile_pic_box {
  margin: 0 auto;
  width: 250px;
  margin-top: 7px;
  border: 1px solid black;
  background-color: white;
  padding: 7px;



}#post_form{
   margin: 0;
   padding: 0;

   background-color: #cdfff8;
   width: auto;
   textarea {
     width: 77%;
     margin-left: 10px;
     margin-top: 10px;
     background-color: #fffdcd;
     height: 63px;
     margin-right: 0px;
     margin-bottom: 10px;
     font-size: 15px;
     font-family: Verdana,Geneva, sans-serif;
     resize: none;

   }

   #post_but {
     background-color: #019AD2;
     border-radius: 6px;
     color: white;
     font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
     font-size:15px;
     display: block;
     width: 15%;
     padding-left: 19px;
     padding-right: 19px;
     margin-right: 10px;
     margin-top: 10px;
     padding-top: 19px;padding-bottom: 19px;
     margin-bottom: 10px;
     margin-left: 0px;
     height: 63px;
     float: right;
   }
 }
#profile_posts {
  font-family: Arial,sans-serif;
  font-size: 14px;
  display: inline;
  margin: 0px;
  padding: 0px;

}
#profile_posts  li {
  a {
    font-size: 20px;
    font-family: 'Roboto Condensed',Arial,"Helvetica Neue", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #019AD2;
    &:hover {
      text-decoration: underline;
    }
    font-weight: 1000;
  }
  img {
    float: left;
    margin-right: 6px;
  }
  .post_mess {
    margin-top: 6px;
  }
  list-style: none;
  clear: both;
  // padding: 20px 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 79px;
  background-color: #fff;
  //  display: block;
  border-bottom: 1px dashed #d2dada;
.first {
   border-top: 1px dashed #d2dada;
}

}#profile_posts li.first {
   border-top: 1px dashed #d2dada;
 }

 .nav a {
   font-family: 'Roboto Condensed';
 }

 #container {
background-color: #ffffff;
margin: 0 auto;
position: relative;
width: 1008px;
height: 1000px;
min-height: 100%;
}
#content {
width: 720px;
min-height: 960px;
float: right;
}
div#profile_pic_box > img{z-index:2000; }
div#profile_pic_box > a {
  display: none;
  position:absolute;
  margin:140px 0px 0px 120px;
  z-index:4000;
  background: #0315f0;
  border: #fffa08 1px solid;
  border-radius:3px;
  padding:5px;
  font-size:12px;
  font-family: arial,helvetica,sans-serif;
  text-decoration:none;
  color: #fffa08;
  &:hover {
    background-color: yellow;
    color: blue;
  }
}
div#profile_pic_box > form{
  display:none;
  position:absolute;
  z-index:3000;
  padding:10px;
  opacity:.8;
  background: #91fef7;
  width:180px;
  height:180px;
}
div#profile_pic_box:hover a {
  display: block;
}
#regist {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #fff;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
background: -o-linear-gradient(top,#fff 0,#ddd 100%);
background: linear-gradient(top,#fff 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
border-left: solid 1px #eee;
border-right: solid 1px #eee;
border-bottom: solid 1px #ccc;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 0 rgba(0,0,0,.1);
width: 550px;
height: auto;
}
.regist {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #fff;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
background: -o-linear-gradient(top,#fff 0,#ddd 100%);
background: linear-gradient(top,#fff 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
border-left: solid 1px #eee;
border-right: solid 1px #eee;
border-bottom: solid 1px #ccc;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 0 rgba(0,0,0,.1);
width: auto;
height: auto;
}
#requested_friends_list {
  margin: 0;
}
.friendship_friend {
  li {
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 7px;
    border : 1px solid #000000 ;
    border-radius: 3px;
    list-style-type: none;
    background-color: white;
    a {
      color : #019AD2;
      font-weight: bold;
      text-decoration: none;
       &:hover {
         text-decoration: underline;
       }
    }
    a.btn.btn-info {
      color: white;
      float: right;
      font-weight: normal;
      &:hover {
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
}
#menubar_drop {
  padding : 0 15px 0;
}